<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.org.intersect.faims.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:largeHeap="true">
        
        <activity
            android:name="au.org.intersect.faims.android.ui.activity.MainActivity"
            android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden|screenSize" 
			>
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="au.org.intersect.faims.android.ui.activity.FetchModulesActivity"
            android:label="@string/fetch_modules_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
             />

        <activity
            android:name="au.org.intersect.faims.android.ui.activity.ShowModuleActivity" 
            android:configChanges="orientation|keyboardHidden|screenSize" 
            >
             <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="au.org.intersect.faims.android.ui.activity.MainActivity" />
           
        </activity>
        
        <activity
            android:name="au.org.intersect.faims.android.ui.activity.FaimsServerSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
             />
        
        <service
            android:name="au.org.intersect.faims.android.services.DownloadModuleService"
            ></service>
        
        <service
            android:name="au.org.intersect.faims.android.services.UpdateModuleSettingService"
            ></service>
        
        <service
            android:name="au.org.intersect.faims.android.services.UpdateModuleDataService"
            ></service>
        
        <service
            android:name="au.org.intersect.faims.android.services.DownloadDatabaseService"
            ></service>
        
        <service
            android:name="au.org.intersect.faims.android.services.UploadDatabaseService"
            ></service>
        
        <service
            android:name="au.org.intersect.faims.android.services.SyncDatabaseService"
            ></service>
        
         <service
            android:name="au.org.intersect.faims.android.services.SyncFilesService"
            ></service>
        
        <activity android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Dialog"
            ></activity>
        
        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider"
            ></service>
    </application>

</manifest>