.input-field {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.label {
  margin-left:5%;
  padding-top:10px;
  padding-bottom:10px;
  text-color:grey;
}

.button {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.button-extra {
  margin-left:2px;
  margin-right:2px;
}

.date-picker {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.dropdown {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.text-area {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.list {
  width:90%;
  margin-left:5%;
  margin-right:5%;
  border-top:1px solid grey;
}

.web-view {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.table-view {
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.gallery-item {
  background-color:#C2C2C2;
}